//w3schools.com helped me to create a navigation bar
body
{
    background-color: aquamarine;
}


.topnav {
    background-color: #f2e810;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #000000;
    color: #f2e810;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #f20005;
    color: #000000;
}

body{
    background-color: #eef273;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

